<div class="center">
  <div class="card">
    <section class="w3-container w3-center w3-content" style="max-width:3000px">
      <img src="\assets\calebFina.jpg" alt="me" style="width:140px">
      <h2 class="w3-wide">Pranav Dharmaraj Mundhe</h2>
      <p class="w3-justify">{{summaryDetails.summaryInfo}}</p>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <button mat-raised-button (click)="routeToContactMe();">Get In Touch</button>       
        </div>
        <mat-icon class="pos">code</mat-icon>
      </section>
    </section>
  </div>
</div>